Options -MultiViews
RewriteEngine On
RewriteBase /character-manager-5e/backend/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^index/(.+)$ index.php?url=$1 [L,QSA,NC]


